.navlink{
    font-size: 18px;
    color: rgb(17, 17, 17);
    display: block;
    position: relative;
    padding: 3px 0px;
    text-decoration: none;
}

.navlink::after{
    content: '';
    position: absolute;
    background-color: #dc3545;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 0;
}

.navlink:hover::after,
.navlink:focus::after,
.navlink:active::after{
    width: 100%;
    transition: .5s all ease;
}