.hero-text h1 span{
    display: block;
}


.hero-img img{
    width: 350px;
    margin-left: auto;
}

.category-img{
    width: 100%;
    overflow: hidden;

}

.category-img img{
    width: 100%;
    cursor: pointer;
    transition: 0.2s all ease;
    min-height: inherit;
}

.category-img img:hover{
    transform: scale(1.1,1.1);
}

.category-text2:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 0px;
    width: 100%;
    background-color: #dc3545;
    transition: 0.3s all ease;
}

.category-grid-item:hover .category-text2:before{
    height: 2px;
}

.shop-img{
    overflow: hidden;
    width: fit-content;
}

.shop-img img{
    width: 100%;
}

.grid-shop-product:hover .shop-img img{
    transform: scale(1.1,1.1);
    transition: .3s all ease;
}

.grid-shop-product:hover .home-shop-product-text p{
    transition: .3s all ease;
    color: #dc3545;
}